flow.json
[{"id":"4bcab70e.7a31f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"66b8b076.b58ea","type":"catch","z":"4bcab70e.7a31f8","name":"","scope":null,"uncaught":false,"x":220,"y":220,"wires":[["18a6a697.9090b9"]]},{"id":"248e5ca9.712ef4","type":"api-call-service","z":"4bcab70e.7a31f8","name":"","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"notify","service":"ios_alessandro","entityId":"","data":"{\"message\" : \"ERRORE NR: {{{payload}}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":220,"wires":[[]]},{"id":"777c486b.1d8ef8","type":"comment","z":"4bcab70e.7a31f8","name":"Gestione errori da gestire","info":"","x":390,"y":160,"wires":[]},{"id":"18a6a697.9090b9","type":"change","z":"4bcab70e.7a31f8","name":"","rules":[{"t":"set","p":"object","pt":"msg","to":"error","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":220,"wires":[["6937d60e.70e658"]]},{"id":"6937d60e.70e658","type":"change","z":"4bcab70e.7a31f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$string(object[0].message)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":220,"wires":[["248e5ca9.712ef4"]]}]